<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <style>
    body {
      background: #A4EBF3;
    }

    #container {
      display: flex;
      height: 90%;
      width: 90%;
      margin: 2%;
    }

    #container-first {
      position: relative;
      width: 50%;
      height: 100%;
      left: 5%;
      margin-top: 2%;

    }

    #container-second {
      position: relative;
      width: 30%;
      height: 100%;
      margin: 5px;
      margin-top: 0;
    }

    .login {
      position: relative;
      margin: 10% 3% 0 10%;
      background: green;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 10px;
      padding: 2%;
      width: 30%;
      font-weight: bold;
    }
    .about{
      position: relative;
      margin: 10% 3% 0 11%;
      background: rgb(15, 216, 189);
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 10px;
      padding: 2%;
      width: 67%;
      font-weight: bold;
      font-size: larger;
    }

    .about:hover{
     background-color: rgb(57, 193, 211);
    }

    .login:hover {
      background-color: rgb(47, 214, 47);
    }

    .signUp {
      position: relative;
      margin: 10% 3% 0 5%;
      background: rgb(228, 141, 12);
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 10px;
      padding: 2%;
      width: 30%;
      font-weight: bold;
    }

    .signUp:hover {
      background-color: orange;
    }
  </style>
  <title>Mail Rocket</title>
</head>

<body>
  <!-- Navbar -->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h4 style="margin: 0; padding: 0; font-family: 'Permanent Marker', cursive;">M-R</h4>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact.html">Contact Us</a>
          </li>

        </ul>
      </div>
    </div>
  </nav> -->

  <div id="container">
    <div id="container-first">
      <div>
        <p>
        <h1 style="font-family: 'Permanent Marker', cursive; font-size:500%; color: red;">Welcome to <strong
            style="margin-left: 10%; color: orange;">Mail Rocket</strong></h1>
        </p>
        <p>
        <h5 style="font-family: 'Caveat', cursive;
              font-family: 'Permanent Marker', cursive; text-align: center;">Best Mailer For New Generation</h5>
        </p>
      </div>
      <div class="mx-2">
        <a href="/login"><button class="login">Sign in</button></a>
        <a href="/signup"><button class="signUp">Create Account</button></a>
      </div>
      <div>
        <a href="/about"><button class="about">About Developer</button></a>
      </div>
    </div>
    <div id="container-second">
      <img style="width: 650px; height:35rem;" src="images/Online_Shoping_29_Converted_1.png" alt="">
    </div>
  </div>




  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    -->
</body>

</html>